.container{
    display: flex;
    flex: 0 0 33%;
    justify-content: space-between;
    flex-direction: column;
    max-width: 250px;
    -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.44);
    -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.44);
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.44);
    margin: 10px 10px 0px 10px;
    width: 30%;
    min-width: 220px;
    background-color: #d9e4f5;
    background-image: linear-gradient(-315deg, #d9e4f5 0%, #f5e3e6 74%);

}

.innercontainer{
    padding: 0px 20px 20px;
    text-align: left;
}

.details{
    display: flex;
    flex-direction: column;   
}

.details li{
    display: flex;
    justify-content: left;
    margin-bottom: -18px;

}

.details ul{
    margin: 1px;
    padding: 0px;
}

.container img{
    max-height: 170px;
}


.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #045de9;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
    cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    margin: 0px 10px 10px 10px;
    text-align: center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media(max-width: 400px){
    .container{
        width: 90%;
        flex: 0 0 50%;
    }
}